# Jupyter Notebooks - Pt1: Data Handling

Anything you don't understand is scary and for many people that's doubly true for code. Starting machine learning can be daunting but this Jupiter notebook will teach you the basics of the basics of machine learning. Firstly, why do we use jupyter notebooks:

- Repeatable: the code can be easily run again and you can reuse the same steps in different situations
- Understandable: If you analyze in the code, the code will tell you what to do. While it's not perfect, it's still better than looking at plain python

The goal of this workbook is to show you how to do all the common actions you need for data handling when it commons to machine learning,as well as how to work with data in python.

We'll be relying heavily on pandas, which provides lots of useful functions for data analysis.

## How does Jupyter notebook work?

Jupyter Notebook (IMO) is an ideal environment for data analysis. Here's how it works.
- You enter the code in the cell.
- You run the cell.

By breaking the code into cells, you can step through and examine the data during execution.

Jupyter notebooks have two modes:
- Command mode (let's create new cells, delete, run, etc.)
- Edit mode (let's write in cells and edit them)

Escape takes you into command mode (a blue bar to the left of the highlighted cell) and Enter takes you to edit mode (a green bar to the left of the highlighted cell).

While there are buttons at the top, I highly recommend learning shortcuts. Besides these two, the most important ones are:

**Command Mode:**
- a: create a cell above
- b: create a cell below
- Cmd/Ctrl+Enter - Runs a cell
- dd: deletes a cell (be careful, you can't undo this)
- m: Set a cell to text mode (markdown), like this cell you're reading
- y: Set a cell to code mode (the default)

**Edit mode:**
- shift+tab: show documentation for the function the cursor is inside. Hit tab multiple times to change where the documentation pop-up appears. (sometimes won't trigger in which case just google "pandas documentation x")

**Importing Libraries** 
To start with our data anlaysis, we need to import some base libraries:
- pandas - functions for data analysis
- numpy - more functions for data analysis (in my experience, typically faster, but not quite as user friendly as pandas)
- re - regular expressions. pandas already has this built in, in a lot of places so we won't often need this.

Let's get started!

In [ ]:
#installing and importing pandas
import pandas as pd
import numpy as np
import re

**What are we going to do:** 
For the example here, we load the top 20 ranking file from STAT.

This shows the top 20 ranking domains for a range of keywords, which is exactly the data we might want to analyze.

The following function allows us to open a CSV file in a data frame. It's a fancy word for tables in pandas.

The output of the function on the right is stored in the variable on the left.

In [24]:
df = pd.read_csv("Example Car SERPs.csv")

## Exploring data

First things first, how do we look the data we've just loaded?

We need to be able to see our data, because that's often how we're going to validate that our code has done what we expected.

Using the head function we can get our first look at the data in pandas. It looks like a table and how we'd expect. We can also see that pandas assigns each row a unique number in the first column. This is called the index and when we begin to filter our data, we'll see that shown in the index.

**Syntax:** dateframe.head(amountofrowstobeseen)

In [26]:
df.head(2)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
0,0 apr car deals,GB-en,NaN,desktop,1900.0,1,NaN,NaN,NaN,answers / list,http,www.autoexpress.co.uk/best-cars/98556/the-best...,!permanent keywords / auto express / featured ...
1,0 apr car deals,GB-en,NaN,desktop,1900.0,2,NaN,NaN,NaN,organic,https,www.carwow.co.uk/best/cars-for-sale-with-0-per...,!permanent keywords / auto express / featured ...

We can also use the shape function to look at our datas columns and rows

**Syntax:** datafram.shape

In [4]:
df.shape

(39600, 13)

Another common function is dtypes.
**What does It do?:** Shows you the datatype for each column. (i.e. this column is a string (i.e. text), this column is a number etc.) What is object? For our purposes it's the same as string.

Datatype is really important. If you have a column of numbers, but someone has accidentally left a word in one row, the whole column will be treated as strings so you won't be able to perform maths operations on them.

**Syntax:** dataframe.dtypes

In [5]:
df.dtypes

Keyword                            object
Market                             object
Location                          float64
Device                             object
Regional Monthly Search Volume    float64
Rank                                int64
Result Types for Jan  1, 2017      object
Protocol for Jan  1, 2017          object
Ranking URL on Jan  1, 2017        object
Result Types for Sep  1, 2017      object
Protocol for Sep  1, 2017          object
Ranking URL on Sep  1, 2017        object
Tags                               object
dtype: object

We can also analyze just the top of a certain column:

In [6]:
df['Market'].head(1)

0    GB-en
Name: Market, dtype: object

Another useful function is value_counts(). This shows you all the different values in a column, along with a count of how many there are of each.

In [7]:
df['Market'].value_counts()

GB-en    39540
DE-de       60
Name: Market, dtype: int64

# Filtering data

What we have done so far is great for letting us know how to print data and how to inspect loaded data, but now we need to manipulate the data! 

The first step in that direction is filtering. A common use case is to filter data based on values ​​in a column.

In [13]:
df_filtered = df[(df["Keyword"].str.contains("bmw|audi", regex=True)==True)]
df_filtered.head(5)

,Keyword,Market,Location,Device,Regional Monthly Search Volume,Rank,"Result Types for Jan 1, 2017","Protocol for Jan 1, 2017","Ranking URL on Jan 1, 2017","Result Types for Sep 1, 2017","Protocol for Sep 1, 2017","Ranking URL on Sep 1, 2017",Tags
180,1 series bmw,GB-en,NaN,desktop,3600.0,1,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,organic,http,www.bmw.co.uk/en_GB/new-vehicles/1.html,temp - semrush / used-cars
181,1 series bmw,GB-en,NaN,desktop,3600.0,2,organic,http,www.autotrader.co.uk/used-cars/bmw/1-series,organic,https,www.autotrader.co.uk/used-cars/bmw/1-series,temp - semrush / used-cars
182,1 series bmw,GB-en,NaN,desktop,3600.0,3,organic,http,www.whatcar.com/bmw/1-series/hatchback/review/,organic,https,www.gumtree.com/cars/uk/bmw+1+series,temp - semrush / used-cars
183,1 series bmw,GB-en,NaN,desktop,3600.0,4,organic,https,en.wikipedia.org/wiki/BMW_1_Series,organic,https,www.whatcar.com/bmw/1-series/hatchback/review/,temp - semrush / used-cars
184,1 series bmw,GB-en,NaN,desktop,3600.0,5,organic,https,www.gumtree.com/cars/uk/bmw/bmw+1+series,organic,https,en.wikipedia.org/wiki/BMW_1_Series,temp - semrush / used-cars

**What does this do?:** Filter a dataframe based on a string column. In this case we're filtering based on whether or not a regex matches.

We can see the index number on the left changing, because the first row where Keyword contains bmw or audi is 180.

In [14]:
df_filtered = df[df["Rank"]==1]

**What does this do?:** Filter a dataframe based on a numeric column. Here we return all the results for rank 1.

In [15]:
df['is_rank_1'] = False
df.loc[df['Rank'] == 1, 'is_rank_1'] = True

**What does this do?:** Filter a dataframe based on a boolean (i.e. TRUE and FALSE) column. Here we return all the results which are true. We don't have a boolean column yet, so let's quickly create one (we'll go over in more detail later).

Then we can filter for any rows where is_rank_1 is equal to True.

In [16]:
df_filtered = df[df['is_rank_1']]

If we want to invert this and get any where it doesn't match 1, we do it with `~`

In [17]:
df_filtered = df[~df['is_rank_1']]

We can also filter a dataframe based off a list!

In [18]:
list_of_values = [
    '1 series bmw',
    'ford deals'
]
df_filtered = df[df["Keyword"].isin(list_of_values)]

What if we want to use multiple conditions? Again nice and easy, we just put more than one in our first set of square brackets as seen below. `&` is the symbol for and, and `|` is the symbol for or.

In [ ]:
df_filtered = df[df["Market"].str.contains("GB-en")==False | df["Device"].str.contains("desktop")==True]


# Creating new columns based off existing columns

Sometimes we don't want to filter our entire set, we just want to create a new column which is correctly filtered. We already saw this above but we skipped over it, so now we'll look at it in more detail. 

But before we can create new columns based off filters we need to know how to create new columns.

The code below will create a new column called industry and set its value to Cars.

In [22]:
df['industry'] = "Cars"

First we'll look at creating a column which is True or False based on a condition. We can use any of the conditions we used in the previous section.

The code below sets the column to True and False based on the filter condition. 

Below we're creating a column which is True wherever rank is 1.

In [23]:
df['is_rank_1'] = df['Rank'] == 1

Each condition (if you have more than 1) needs to be wrapped in brackets.

Below we're creating a column which is `True` for the all the rows where rank=1 and `False` otherwise.

In [44]:
df['auto_express_with_rank_2'] = (df['Tags'].str.contains("auto express")) & (df['Rank'] < 4)

Below we're creating a column based on a calculation from other columns.

In [45]:
df['basic_search_visibility'] = df['Regional Monthly Search Volume']/df['Rank']

Another common usecase, creating a column based off a regex extract. Pandas comes with a built in function for us.

In [46]:
df['car_type'] = df['Keyword'].str.extract("(bmw|audi|ford)", re.IGNORECASE, expand=False)

In [47]:
df['car_type'].value_counts()

bmw     3660
audi    2960
ford    1800
Name: car_type, dtype: int64

## Using custom functions

Pandas has a number of functions for creating and manipulating additional columns. It pays to be familiar with the documentation, especially for [string handling](https://pandas.pydata.org/pandas-docs/stable/api.html#string-handling), whatever you do occasionally is complicated, These functions are not enough. A good example is markup.

i.e. I want a column where all keywords containing high end cars are labeled "high end" and all keywords containing low end cars are labeled "low end".

First we need to create some labels and a label function.

In [82]:
tags = [
    {
        "name": "high-end",
        "regex": "bmw|audi"
    },
    {
        "name": "low-end",
        "regex": "ford"
    }
]

In [91]:
def basic_keyword_tagging(string, tags):
    ''' This function takes a string and a tag dataset that is a list of dictionaries.
    
    Each dictionary must contain a name value and a regex value. It will loop through
    the tags and as soon as one matches, return that. If none match it will return "other".
    '''
    
    for tag in tags:
        if re.match(tag['regex'], row['Keyword']):
            return tag['name']
        else:
            return "other"

**What does the code below do?:** The function below, applies our function to each row in the dataframe and runs the value to our new column.

In [89]:
df['what_is_car_model'] = df.apply(lambda x: basic_tagging(x['Keyword'], tags), axis=1)

# Grouping data

Now it starts to get interesting. Grouping. Grouping is super useful. Let's suppose we wanted to see the average rank and total keyword count per URL in our sample. That is what we use grouping for.

The code below is the most flexible version of groupby. There are simpler syntaxes, but if you know this one you'll be able to do basically everything you want with it. In the example below, we're going to get average rank and total keyword count for each for the later date in our sample (1st Sep 2017).

In [48]:
df_group = df.groupby('Ranking URL on Sep  1, 2017').agg({
    'Keyword': 'count',
    'Rank': 'mean'
}).reset_index()

Now we have aggregated by URL, but Want if we wanted to average rank and keyword count, per URL, per country? In that case we provide more values to our initial group by.

In [50]:
df_group = df.groupby(['Ranking URL on Sep  1, 2017', 'Market']).agg({
    'Keyword': 'count',
    'Rank': 'mean'
}).reset_index()

# Sorting data

The results we had above, would've been a lot more helpful if they were sorted. We want to see the URLs that rank for the most keywords, not just a list of URLs in alphabetical order.

**What does the code below do?:** Sorts a dataframe by selecting columns, in the case below we're sorting from biggest to smallest.

In [ ]:
df_group.sort_values(['Keyword'], ascending=False)

# Joining together multiple datasets

There are two possible ways we can join two datasets togethere:
1. Joining together two CSVs with the same columns, because our data is split across multiple files
2. Joining together a new dataset with our dataset based on matching values (this will not be covered)

## 1. Joining together CSV's with the same columns.

For this we've created a fake second dataset that we're going to load and join on the bottom of ours.

In [53]:
df2 = pd.read_csv("Example Car SERPs - Small Second Set.csv")

First we prepare our data by putting all of our dataframes into a list (which is what the square brackets [] are doing).

In [54]:
list_of_df = [df, df2]

Next we use a function takes a list of dataframes and stacks them one on top of the other.

In [55]:
both_dfs = pd.concat(list_of_df)

# Final Points:

There is still alot more to learn about Pandas in general and a lot more you can do.
To find out more try using these resources:

- https://www.kaggle.com/learn/pandas
- https://www.kaggle.com/learn/data-cleaning
- https://github.com/tirthajyoti/Machine-Learning-with-Python/tree/master/Pandas%20and%20Numpy

And feel free to use this pandas cheet sheat to find more functions:
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf